.wines {
  h1 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  img {
    cursor: pointer;
  }
  .react-3d-carousel {
    .slider-container {
      .slider-left{
        div {
          color: #3c434c;
          border: none;
        }
      }
      .slider-right {
        div {
          color: #3c434c;
          border: none;
        }
      }
      .slider-single-content{
        p{
          font-size: 3.8vw;
          font-weight: 900;
          color: #8C0226;
          position: absolute;
          top: 210px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .wines {
    .react-3d-carousel {
      .slider-container {
        .slider-single-content{
          p{
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .wines {
    .react-3d-carousel {
      .slider-container {
        .slider-single-content{
          p{
            font-size: 1.5vw;
          }
        }
      }
    }
  }
}
