@import '../variablesCSS';

.makeStyles-modalBody-13 {
  img {
    margin-left: 50px;
    display: none;
    max-width: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .makeStyles-modalBody-13 {
    img {
      display: block;
    }
  }
}
