@import '../variablesCSS';
.event-details-container {
  margin-top: 50px;
  margin-bottom: 50px;
  .title {
    color: $primary-color;
    text-align: center;
  }
  .line {
    color: $primary-color;
    margin-bottom: 50px;
    text-align: center;
  }
  .event-details {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .map {
      padding: 50px;
      width: 80%;
      .leaflet-container {
        height: 400px !important;
      }
    }
    .main-page {
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      width: 60%;
      -webkit-box-shadow: 0px 2px 10px 0px grey;
      -moz-box-shadow: 0px 2px 10px 0px grey;
      box-shadow: 0px 2px 10px 0px grey;
      p {
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .logo-event {
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      }
      img {
        margin-bottom: 20px;
        width: 250px;
        -webkit-box-shadow: 0px 2px 10px 0px grey;
        -moz-box-shadow: 0px 2px 10px 0px grey;
        box-shadow: 0px 2px 10px 0px grey;
      }
      .availabilities-price-duration {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      .quantity-book {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .event-details-container {
    .title {
      font-size: 2vw;
    }
    .event-details {
      flex-direction: row;
      .map {
        width: 50%;
        .leaflet-container {
          height: 550px !important;
        }
      }
      .main-page {
        margin-left: 50px;
        width: 50%;
        .logo-event {
          width: 17%;
        }
        .quantity-book {
          width: 30%;
        }
      }
    }
  }
}
