@import '../variablesCSS';

* {
  margin: 0;
  padding: 0;
}

.eventBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eventCard:first-child {
  margin-top: 100px;
}

.eventDetail {
  height: 170px;
  width: 325px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  color: white;
  border-radius: 10px;
  img {
    width: 70px;
    height: 95px;
  }
}

.eventDescription {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 12px;
  }
  button {
    height: 35px;
    width: 80px;
    background-color: $secondary-color;
    color: white;
    margin-left: 50%;
    border-radius: 5px;
  }
}

.underCard {
  margin: 15px 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p {
    display: flex;
    width: 25%;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    border-radius: 20px;
    font-size: 12px;
  }
}
