@import '../variablesCSS';

.event-container {
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    color: $primary-color;
    text-align: center;
  }
  .line {
    color: $primary-color;
    text-align: center;
  }
  .eventBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .no-event {
      height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: black;
        margin-top: 20px;
        font-size: large;
    }
    .calendar-container {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      .highlight {
        font-weight: 1000;
        color: $primary-color;
      }
      .react-calendar__tile--active {
        background: rgb(193, 194, 196);
      }
      .react-calendar__tile--now {
        background: rgb(231, 224, 224);
      }
    }
    .cardOfEvents {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .eventCard:first-child {
        margin-top: 100px;
      }
      .eventCard {
        width: 80%;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 0px 2px 10px 0px grey;
        -moz-box-shadow: 0px 2px 10px 0px grey;
        box-shadow: 0px 2px 10px 0px grey;
        .eventDetail {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          color: black;
          border-radius: 10px;
          border-style: solid;
          border-width: 1px;
          border-color: lightgrey;
          img {
            margin: 20px 0 10px;
            width: 200px;
          }
          .eventDescription {
            width: 90%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .reserver {
              font-size: 30px;
              color: $primary-color;
            }

            h2 {
              text-align: center;
              color: black;
              margin: 20px;
            }
            p {
              text-align: center;
              font-size: 15px;
              margin-bottom: 20px;
              /*  margin: 20px; */
            }
            .underCard {
              width: 100%;
              margin: 15px 0 10px;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              p {
                display: flex;
                flex-wrap: wrap;
                height: 25px;
                justify-content: center;
                align-items: center;
                background-color: white;
                color: black;
                border-radius: 20px;
              }
            }
            .button {
              display: flex;
              justify-content: space-around;
              margin: 30px;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .event-container {
    h1 {
      font-size: 2.5vw;
    }
    .eventBody {
      display: flex;
      flex-direction: row-reverse;
      .calendar-container {
        display: flex;
        align-self: flex-start;
        position: sticky;
        top: 0;
        padding: 40px;
        margin-top: 60px;
      }

      .cardOfEvents {
        display: flex;
        flex-direction: column;
        width: 100%;
        .eventCard {
          display: flex;
          flex-direction: column;
          width: 90%;
          margin-left: 5%;
          .eventDetail {
            width: 100%;
            padding: 7px;
            img {
              width: 250px;
              -webkit-box-shadow: 0px 2px 10px 0px grey;
              -moz-box-shadow: 0px 2px 10px 0px grey;
              box-shadow: 0px 2px 10px 0px grey;
            }
            .eventDescription {
              .reserver {
                width: 100%;
                font-size: 25px;
                color: $primary-color;
              }
            }
          }
          .underCard {
            width: 100%;
          }
        }
      }
    }
  }
}
