@import '../variablesCSS';

* {
  margin: 0;
  padding: 0;
}

.eventBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    color: white;
    margin-bottom: 0;
  }
}

.eventCard {
  width: 85%;
}

.eventCard:first-child {
  margin-top: 100px;
}

.eventDetail {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
  color: white;
  border-radius: 10px;
  img {
    width: 70px;
    height: 95px;
  }
}

.eventDescription {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    font-size: 12px;
  }
  button {
    height: 35px;
    background-color: $secondary-color;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .button {
    display: flex;
    justify-content: space-between;
  }
}

.underCard {
  margin: 15px 0 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p {
    display: flex;
    width: 25%;
    height: 25px;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;
    border-radius: 20px;
    font-size: 12px;
  }
}

@media screen and (min-width: 515px) {
}

@media screen and (min-width: 768px) {
  .eventCard {
    width: 60%;
  }
  .eventDetail {
    height: 200px;
    img {
      width: 100px;
      height: 120px;
    }
  }

  .eventDescription {
    h3 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }

  .underCard {
    margin: 15px 0 130px;
    p {
      height: 30px;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .eventBody .calendar-container.button-start {
    display: flex;
    flex-direction: row-reverse;
  }

  .calendar-container {
    align-self: flex-end;
    margin-right: 3%;
    padding: 40px;
    z-index: 1000;
  }
  .eventCard {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 5%;
    margin-top: -40%;
    padding: 15%;
  }

  .eventDetail {
    width: 50%;
    padding: 7px;
    margin-top: -10%;
    img {
      width: 140px;
      height: 140px;
    }
  }

  .eventDescription {
    .reserver {
      height: 40px;
      width: 100%;
    }
  }

  .underCard {
    margin-bottom: 30%;
    width: 50%;
  }
}
