@import '../variablesCSS';

.container-page-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $primary-color;
    margin-top: 50px;
  }
  .line {
    color: $primary-color;
    margin-bottom: 50px;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 100px;
    margin-top: 50px;
    .cards {
      box-shadow: 0 5px 20px -10px;
      display: flex;
      margin: 10px;
      padding: 25px 20px 15px;
      border-radius: 6px;
      text-align: left;
      margin-bottom: 50px;
      transition: all 0.25s ease-in-out;
      max-width: none;
      .date-reviews {
        padding-top: 90px;
      }

      .MuiBox-root {
        margin: 0;
      }
      .content-card {
        .title-rating {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        h3 {
          color: $primary-color;
          font-weight: bolder;
          margin-right: 5px;
        }

        .comment-reviews {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container-page-reviews {
    h1 {
      font-size: 2.5vw;
    }
  }

  .container-page-reviews .cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container-page-reviews .cards-container .cards {
    width: 80%;
    .date-reviews {
      padding-top: 90px;
    }
  }
}
