@import '../variablesCSS';

.container-page-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $primary-color;
    font-family: $primary-font-family;
    margin-bottom: 50px;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin-bottom: 100px;
    margin-top: 50px;
    .cards{
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 350px;
      border: 1px solid black;
      margin: 15px;
      margin-bottom: 50px;
      border-radius: 5px;
      background-color: lightyellow;

      .fb-icons-reviews{
        display: flex;
        justify-content: flex-end;
      }
      img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        margin-top: -50px;
      }
      .content-card{
        margin: 20px;
        h3{
          margin-bottom: 5px;
          color:$primary-color ;
          font-family: $primary-font-family;
          margin-top: 30px;
        }
        .date-reviews{
          margin-bottom: 25px;
          font-family: $secondary-font-family;
        }
        .comment-reviews{
          margin-bottom: 60px;
          font-family: $secondary-font-family;
        }
        .rating-reviews{

        }
      }
    }
  }
}
