@import '../variablesCSS';

.disclaimer-wrapper {
  width: 70%;
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
  h1 {
    color: $primary-color;
  }
  .line {
    color: $primary-color;
    margin-bottom: 50px;
  }
  p {
    color: $secondary-color;
    margin-bottom: 20px;
  }
  .confirm-section {
    display: flex;
    align-items: center;
    p {
      margin: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .disclaimer-wrapper {
    h1 {
      font-size: 2.5vw;
    }
  }
}
