@import '../variablesCSS';

.orderconfirmation-wrapper {
  width: 70%;
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 50px;
  h1 {
    color: $primary-color;
  }
  .line {
    color: $primary-color;
    margin-bottom: 50px;
  }
  h3 {
    color: $primary-color;
    margin-bottom: 20px;
  }
  p {
    color: $secondary-color;
    margin-bottom: 20px;
  }
  .p-orderconfirmation {
    line-height: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .orderconfirmation-wrapper {
    h1 {
      font-size: 2.5vw;
    }
  }
}
