@import '../variablesCSS';

.container-all-cards-animators {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  .header-page-animators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: $primary-color;
    }
    .line {
      margin-bottom: 50px;
      color: $primary-color;
    }
    p {
      width: 50%;
      margin-bottom: 40px;
      text-align: center;
      line-height: 30px;
    }
  }
  .page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .cards-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 25px;
      .image-animator {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 15px;
          width: 150px;
        }
      }
      .name-bio-logo {
        display: flex;
        flex-direction: column;
        width: 40%;
        .logo-animateurs {
          display: none;
          justify-content: flex-start;
          .reseaux-sociaux {
            margin-right: 7px;
            color: $primary-color;
          }
        }
        h3 {
          color: $primary-color;
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 15px;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-container {
    display: flex;
    flex-direction: column;
  }
  .container-all-cards-animators .page-container .cards-container {
    width: 100%;
    margin-bottom: 50px;
  }
  .container-all-cards-animators .header-page-animators p {
    width: 80%;
  }
  .container-all-cards-animators .header-page-animators h1 {
    font-size: 2.5vw;
  }
  .container-all-cards-animators
    .page-container
    .cards-container
    .image-animator
    img {
    width: 100%;
  }
  .container-all-cards-animators
    .page-container
    .cards-container
    .name-bio-logo
    p {
    text-align: left;
  }
  .container-all-cards-animators .page-container {
    margin-bottom: 30px;
  }
}
