


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}

.facebook_login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}