.profile {
  line-height: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5vw 5vw;
  h1 {
    margin: 3vw;
  }
  img {
    width: 50vw;
    border-radius: 50%;
    margin-bottom: 3vw;
  }
  .social-networks {
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    img {
      border-radius: 0;
      width: 10vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .profile {
    line-height: 4vw;
    img {
      width: 30vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .profile {
      margin: 3vw 3vw;
      line-height: 2vw;
      img {
        width: 15vw;
      }
      .social-networks {
        img {
          border-radius: 0;
          width: 5vw;
        }
      }
    }
  }
}
