.firstnameSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.editButton {
  margin-left: 5px;
  width: 20px;
}
.button {
  padding: 10px;
}

.profile {
  line-height: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5vw 5vw;

  h1 {
    margin: 1vw;
    margin-bottom: 10px;
  }
  .profile-image {
    clip-path: circle(37%);
    width: 30vw;
    margin-bottom: 3vw;
  }
  .social-networks {
    margin-top: 5vw;
    width: 30%;
    display: flex;
    justify-content: space-around;
    img {
      border-radius: 0;
      width: 1vw;
    }
  }

  .main-fields {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid black;
  }
  p {
    margin: 3px;
  }

  .MuiBottomNavigation-root {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .event-columns {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }

  .upcoming-events {
    display: flex;
    flex-direction: column;
  }

  .past-events {
    display: flex;
    flex-direction: column;
  }
  .vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 125px;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    line-height: 4vw;
    .profile-image {
      width: 30vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .profile {
      .photo-fields {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      margin: 3vw 30vw;
      line-height: 2vw;

      .profile-image {
        width: 20vw;
        margin-bottom: 0;
      }
      .social-networks {
        img {
          border-radius: 0;
          width: 2vw;
        }
      }
    }
  }
}
