.container-register-form {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    .input-register-form {
        margin-bottom: 20px;
    }
    .button-register-form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .message-confirmation-form {
        width: 50%;
        background-color: green;
    }
}
