@import '../variablesCSS';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  padding-top: 0;
  background-color: white;
  // background-image: url(https://cdn.pixabay.com/photo/2016/08/05/09/31/banner-1571858__340.jpg);
  h1 {
    text-align: center;
    color: $primary-color;
  }
  p:nth-of-type(1) {
    color: $primary-color;
    margin-bottom: 50px;
  }
  p {
    line-height: 2;
    text-align: center;
    color: black;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 82vh;
    h1 {
      font-size: 3vw;
    }
    p {
      font-size: 2vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    h1 {
      font-size: 2.5vw;
    }
    p {
      font-size: 1.5vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  .Welcome-message-home-page{
    display: none;
  }
  .banner h1{
    margin-top: 30px;
  }
}
