@import '../variablesCSS';

.footerBody {
  border-top: solid 2px $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  .MuiFormControl-root {
    padding-bottom: 10px !important;
  }
  .MuiInputBase-input {
    height: 0.05em !important;
    padding-right: 10px !important;
  }
  .MuiInputLabel-formControl {
    top: -7px !important;
  }
}

.footerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  .footerSignUp {
    h2 {
      font-size: 12px;
      color: $secondary-color;
      font-weight: bolder;
      padding: 10px 15px 0;
    }
    .footerForm {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-top: 10px;
    }
  }
  .footerMainLink {
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 16px;
    padding-top: 20px;
    a {
      padding: 3px 0;
      text-decoration: none;
      color: $secondary-color;
      font-weight: bolder;
    }
  }
}

.footerBottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .footerSmallLink {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex start;
    margin-top: 40px;
    h2 {
      font-size: 15px;
      color: $secondary-color;
      font-weight: bolder;
      padding: 10px 0 15px;
    }
    .footerSocialMedia {
      margin: 0 25px;
      display: flex;
      flex-direction: column;
      a {
        font-size: 12px;
        color: $secondary-color;
        font-weight: lighter;
        padding-bottom: 10px;
        text-decoration: none;
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .footerLink {
      margin: 0 25px;
      a {
        font-size: 12px;
        text-decoration: none;
        color: $secondary-color;
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footerLanguage {
  padding-top: 20px;
  margin-left: 25px;
  h2 {
    font-size: 15px;
    color: $secondary-color;
    font-weight: bolder;
    padding: 10px 0 15px;
  }
  .langue {
    display: flex;
    .container-btn-trad {
      width: 100%;
      height: 100%;
    }
  }
}

.footerLogo {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
  img {
    width: 180px;
  }
}

@media screen and (min-width: 456px) {
  .footerTop {
    .footerSignUp {
      width: 80%;
      .footerForm {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
      }
    }
  }
  .footerLanguage {
    padding-top: 0;
    margin: 0 25px;
  }
}

@media screen and (min-width: 768px) {
  .footerTop .footerSignUp h2 {
    padding: 10px 0 0;
  }
  .footerTop {
    padding: 20px 0;
    .footerSignUp {
      width: 55%;
      margin-left: 25px;
      h2 {
        font-size: 17px;
      }
      .footerForm {
        padding-left: 0;
      }
    }
    .footerMainLink {
      width: 30%;
      margin-right: 70px;
      flex-direction: row;
      font-size: 20px;
      a {
        padding: 9px 0;
      }
    }
  }

  .footerBottom {
    .footerSmallLink {
      margin-top: 20px;
      h2 {
        font-size: 17px;
      }
      .footerSocialMedia {
        a {
          font-size: 13px;
        }
      }
    }
  }

  .footerLogo {
    width: 35%;
    img {
      width: 250px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .footerBody {
    .MuiInputBase-input {
      width: 300px !important;
      height: 1.05em !important;
    }

    .MuiInputLabel-formControl {
      top: 0 !important;
    }
  }
  .footerTop {
    padding-top: 20px;
    .footerSignUp {
      margin-left: 150px;
    }
    .footerMainLink {
      width: 30%;
      flex-direction: row;
      padding-right: 240px;
      padding-top: 20px;
      .footerSocialMedia {
        a {
          padding-bottom: 7px;
          &:hover {
            border-bottom: 2px solid $secondary-color;
            font-size: 21px;
          }
          &:active {
            border-bottom: 2px solid $secondary-color;
            font-size: 21px;
          }
        }
        a.active {
          border-bottom: 2px solid $secondary-color;
          font-size: 21px;
        }
      }
    }
  }

  .footerBottom {
    .footerSmallLink {
      padding-bottom: 0;
      .footerSocialMedia {
        margin-left: 150px;
        margin-right: 50px;
        a {
          &:hover {
            border-bottom: 2px solid $secondary-color;
            font-size: 14px;
            padding-bottom: 7px;
          }
        }
      }
      .footerLink {
        margin-right: 50px;
      }
    }
  }

  .footerLogo {
    width: 30%;
    left: 65%;
    bottom: 20%;
  }
}
