@import '../variablesCSS';

.navbarBody {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  .navbarLink {
    display: none;
  }
  .userLink {
    display: none;
  }
  a {
    .navbarLogo {
      width: 150px;
      height: 50%;
      padding: 10px 0px 0 20px;
    }
  }
}
/* Paramétrage du menu burger_______________https://github.com/negomi/react-burger-menu_____________________________________________________________________________________*/

.burgerLogo {
  position: absolute;
  width: 150px;
  top: 23px;
  left: 0;
  padding: 10px 0px 0 20px;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  right: 0;
  width: 36px;
  height: 30px;
  margin-right: 30px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $primary-color;
  border-radius: 0px;
  max-height: 5px;
}

/* Color/shape of close button cross */
.bm-cross {
  position: absolute;
  background: white;
  height: 50px;
  width: 50px;
  top: -25px;
  right: 15px;
}
#react-burger-cross-btn {
  position: absolute !important;
  top: -25px !important;
  right: 15px !important;
}
/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: absolute;
  height: 80%;
}

/* General sidebar styles */
.bm-menu {
  position: relative;
  top: -48px;
  background: white;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $primary-color;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 72% !important;
  width: 70vw;
  align-items: center;
  position: absolute;
  padding-top: 90px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: $primary-color;
  text-decoration: none;
  padding: 1em;
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  width: 0%;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {
  .bm-burger-button {
    display: none;
  }

  .navbarLink {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    ul {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 0;
    }
    a.active {
      border-bottom: 2px solid $primary-color;
      font-size: 17px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 74px;
      color: $primary-color;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
      }
      &:active {
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
      }
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      width: 74px;
      color: $primary-color;
      margin-bottom: 0;
      &:hover {
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
        .MuiPaper-root {
          display: flex;
        }
      }
      &:active {
        font-size: 17px;
      }
    }
  }

  #simple-menu {
    .MuiPaper-rounded {
      height: 150px;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 23px;
      a {
        text-decoration: none;
        :hover {
          background-color: white;
          transition-duration: 0.3s;
          transform: scale(1.15);
        }
      }
    }
  }

  .userLink {
    text-align: center;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    img {
      height: 35px;
      width: 74px;
      cursor: pointer;
    }
    a.active {
      border-bottom: 2px solid $primary-color;
      font-size: 19px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      color: $primary-color;
      text-decoration: none;
      width: 120px;
      cursor: pointer;
      &:hover {
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
      }
      &:active {
        border-bottom: 2px solid $primary-color;
        font-size: 17px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbarBody {
    .navbarLogo {
      padding-left: 30px;
    }
    .navbarLink {
      display: block;
      width: 50%;
      font-size: 17px;
      a.active {
        font-size: 19px;
      }
      a {
        width: 90px;
      }
      a:hover {
        font-size: 19px;
      }
      a:active {
        font-size: 19px;
      }
      p {
        width: 90px;
      }
      p:hover {
        font-size: 19px;
      }
      p.active {
        font-size: 19px;
      }
    }
    .userLink {
      display: flex;
      width: 40%;
      padding-right: 30px;
      img {
        width: 90px;
      }
      a:hover {
        font-size: 19px;
      }
      a:active {
        font-size: 19px;
      }
    }
  }
}
