@import '../variablesCSS';

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  background-color: white;
  h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: medium;
  }
  p {
    line-height: 2;
    text-align: center;
    color: $secondary-color;
  }
  a {
    padding: 3px 0;
    text-decoration: none;
    color: white;
  }
}
