@import '../variablesCSS';

.scrollButton {
  border-radius: 10px;
  border: solid 1.5px white;
  padding: 5px;
  background-color: #3c434ce5 !important;
  color: pink !important;
  bottom: 30px !important;
  right: 30px !important;
}
