@import '../variablesCSS';

.translation-button-wrapper {
  .container-btn-trad {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-test-trad {
    display: none;
    justify-content: center;
  }
}

.MuiButtonGroup-groupedContainedPrimary:not(:last-child) {
  width: 0px !important;
}

.MuiButtonGroup-groupedHorizontal:not(:first-child) {
  width: 0px !important;
}

.MuiButtonGroup-grouped{
  min-width: 10px!important;
}
