@import '../variablesCSS';

.welcome-carrousel-wrapper {
  margin: auto;
  .slide {
    img {
      opacity: 0.5;
    }
    .legend {
      background-color: transparent;
      font-size: 15px;
      opacity: 1;
      bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .welcome-carrousel-wrapper {
    .slide {
      height: 80vh;
    }
  }
}

@media screen and (min-width: 1024px) {
  .welcome-carrousel-wrapper {
    .slide {
      .legend {
        font-size: 30px;
      }
      img {
        opacity: 0.5;
      }
    }
  }
}
