@import '../variablesCSS';

.faq-container {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  .styles_faq-row-wrapper__3vA1D h2 {
    display: none;
  }
  .faq-title {
    text-align: center;
    color: $primary-color;
  }
  .line {
    text-align: center;
    margin-bottom: 50px;
    color: $primary-color;
  }

  .styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
  }
}

@media only screen and (min-width: 600px) {
  .faq-container {
    margin-left: auto;
    margin-right: auto;
    .faq-title {
      font-size: 2.5vw;
    }
  }
}
