@import '../variablesCSS';

.page-mentions-légales {
  display: flex;
  justify-content: center;
  align-items: center;
  .container-mentions-legales {
    width: 70%;
    margin-bottom: 100px;
    .h1-hr {
      margin-bottom: 80px;
    }
    h1 {
      color: $primary-color;
      margin-top: 80px;
    }
    h3 {
      color: $primary-color;
      margin-bottom: 20px;
    }
    p {
      color: $secondary-color;
      margin-bottom: 20px;
    }
  }
}
