@import '../variablesCSS';

.page-mentions-légales {
  display: flex;
  justify-content: center;
  align-items: center;
  .container-mentions-legales {
    width: 70%;
    margin-bottom: 100px;
    h1 {
      color: $primary-color;
      margin-top: 50px;
      text-align: center;
    }
    .line {
      margin-bottom: 50px;
      text-align: center;
      color: $primary-color;
    }
    h3 {
      color: $primary-color;
      margin-bottom: 20px;
    }
    p {
      color: $secondary-color;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-mentions-légales {
    .container-mentions-legales {
      h1 {
        font-size: 2.5vw;
      }
    }
  }
}
