@import '../variablesCSS';

.sponsors-main {
  h1 {
    text-align: center;
    color: $primary-color;
  }
  .cards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    .empty-sponsors {
      margin-top: 20px;
    }
    .sponsor {
      margin-top: 50px;
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sponsors-main {
    h1 {
      font-size: 3.5vw;
    }
    .cards {
      flex-wrap: nowrap;
      margin-bottom: 50px;
      .sponsor {
        img {
          width: 50%;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .sponsors-main {
      h1 {
        font-size: 2vw;
      }
      .cards {
        flex-wrap: none;
        margin-bottom: 50px;
        .sponsor {
          img {
            width: 200px;
          }
        }
      }
    }
  }
}
